@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*, *:after, *:before {
  box-sizing: border-box;
}

body{
  max-width: 1700px;
  max-height: 3350px;
  background-color: #292929;
  color: #fff;
  font-family: 'Gotham Pro';
  margin: 0;
}

header{
  padding-top: 50px;
}

.text-color-red{
  color: #ff3469;
  font-family: "Gotham Pro Medium";
}
.description{
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  font-size: 12px;
}
.header-phone{
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  display: block;
}
.header-info{
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  text-align: right;
  display: block;
}
.callback{
  color: #ff3469;
  text-align: right;
  letter-spacing: 0.16px;
  display: block;
  text-decoration: none;
  margin-top: 16px;
  font-size: 16px;
}

.hero{
  padding-top: 100px;
  padding-bottom: 77px;
  text-align: center;
  border-bottom: 1px solid #4c4c4c;
}
.hero-title{
  font-size: 34px;
  margin-bottom: 34px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Gotham Pro Medium";
}
.hero-description{
  font-size: 18px;
  font-family: "Gotham Pro Light";
  text-transform: uppercase;
  letter-spacing: 0.18px;
  line-height: 1.3;
  
}
.hero-cta{
  display: block;
  font-family: "Gotham Pro Light";
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 83px;
  margin-bottom: 36px;
}
.flowers-slider {
  width: 100%;
  margin-bottom: 83px;
  margin-top: 87px;
}
.btn{
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 36px;
  background-color: #ff2e55;
  border: none;
}

.reviews{
  padding-top: 100px;
  padding-bottom: 50px;
}

.review-slide{
  padding-left: 60px;
  padding-right: 60px;
}
.review-img{
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: "Gotham Pro Light";
  position: relative;
  margin-right: 52px;
}
.review-img:before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0, 5);
  position: absolute ;
}
.review-img > *{
  position: relative;
}
.review-name{
  margin-bottom: 7px;
}
.review-img-1{
  background: #000000 url('../img/reviews/reviews-img-1.jpg');
}
.review-text{
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}
.review-link{
  color: #f24841;
  text-decoration: none;
  font-size: 18px;
}
.section-title{
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  
}

.advantages{
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}
.advantages-wrapper{
  min-height: 82px;
  margin-bottom: 30px;
}
.advantages-tittle{
  font-style: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  min-width: 270px;
  margin: auto;
  margin-bottom: 98px;
}

.goods{
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-description{
  font-size: 18px;
  text-align: center;
}
.text-red{
  color: #ff1844;
}
.card{
  margin-top: 27px;
  text-align: center;
  border: 3px solid #ffffff;
  padding: 33px 35px 30px 35px;
}
.card-title{
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card-lable{
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}
.card-btn{
  width: 100%;
  background-color: #f24841;
  font-size: 14px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 10px;padding-right: 10px;
}
.color-lable{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.color-input{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}
.color-lable.white{
  background-color: #fff;
}
.color-lable.biege {
  background-color: #f7b496;
}
.color-lable.pink {
  background-color: #ed366e;
}
.color-lable.red {
  background-color: #ff0000;
}
.color-lable.blue {
  background-color: #12129d;
}
.color-lable.purple{
  background-color: purple;
}
.color-lable.violet {
  background-color:violet;
}
.color-lable.yellow{
  background-color: yellow;
}
.color-lable.orange{
  background-color: orange;
}
.color-lable.szosowy{
  background-color: #df7474;
}
.counter-input{
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #ffffff;
  color:#fff;
  background-color: #292929;
  margin-left: 15px;
  margin-right: 15px;
}
.counter-btn{
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #292929;
  color: #ffffff;
  border:none;
}
.more{
  font-size: 14px;
  color: #f24841;
  text-align: center;
  display: block;
  margin-top: 39px;
  padding: 10px;
  margin-bottom: 69px;
}
.more:after{
  content: '';
  display: inline-block;
  width: 10px;
  height: 4px;
  background: url('../img/cursor.svg') no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
}


.offer{
  width: 1700px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}
.offer-link{
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  font-size: 30px;
  margin-bottom: 65px;
}
.offer-lable{
  color: #ffffff;
  display: block;
  font-size: 14px;
  margin-bottom: 22px;
}
.offer-phone{
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 84px;
  text-decoration: none;
}


.ffooter.container {
  margin-left: 0;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}

.footer-menu-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.footer-menu-item {
  margin-right: 30px;
}

.social {
  font-size: 16px;
}

.footer-lable {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-info {
  text-align: right;
}

.footer-phone {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: block;
  margin-bottom: 12px;
}

.footer-desc{
  margin-top: 15px;
  display: flex;
  font-size: 12px;
  text-align: left;
  align-items: center;
}

.footer-logo {
  margin-left: 165px;
  width: 150px;
  height: 40px;
  
}

.footer-next {
  
  width: 1700px;
  padding-bottom: 50px;
  text-align: center;
  color: #000000;
  background-color: #fff;
  max-width: 100%;
  position: absolute;
  left: 0;
  margin-top: 135px;
  height: 200px;
  justify-content: space-between;
  padding-top: 30px;

}

.footer-description {
  margin-top: 15px;
  display: block;
  font-size: 12px;
  margin-left: 42px;
  text-align: left;
}

.footer-znak {
  font-size: 12px;
  margin-top: 23px;
  margin-left: 810px;
  color: #101010;
  display: block;
}

:root {
  --swiper-navigation-size: 18px;
}

@media(max-width: 768px) {
  .header {
    text-align: center;
  }

  .header-contacts {
    text-align: center;
  }

  .hero {
    padding-top: 50px;
  }

  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .hero-description {
    font-size: 16px;
  }

  .colors {
    max-width: 200px;
    margin: auto;
  }

  .card-lable {
    margin: 20px auto;
    display: block;
  }

  .footer-info {
    text-align-last: left;
  }
}

@media(max-width:576px) {
  .footer-info {
    text-align-last: left;
  }

  .offer {
    text-align-last: left;
  }
}

.popup {
  font-family: "Gotham Pro Light";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  /* z-index: 2; */
} 

.popup.open {

  opacity: 1;
  visibility: visible;
}

.popup.open .popup-content {
  opacity: 1;
  transform: perspective(600px) translate(0px, -0%) rotateX(0deg);
  transition: all 0.8s ease 0s;
}

/* .popup-area {

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
} */

  .popup-body {

  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.popup-content {
  font-weight: 800;
  background-color: #292929;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  transition: all 0.8s ease 0s;
  position: absolute;
  top: 125px;
  right: 630px;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  border: #ff2e55 3px solid;
  color:#ff2e55;
}

.popup-close {
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #ff2e55;
}

.popup-title {

  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
  
}


.popup-coment{
  margin: 10px;
  padding: 0;
  width: 610px;
  display: flex;
}

.send {
  
  font-size: 12px;
  text-transform: uppercase;
  color: #292929;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 13px;
  background-color: #ff2e55;
  border-radius: 5px;
  border-color: #292929;
  display: block;
  margin-left: 165px;
  /* border: #fff 3px solid; */

}

.tel{
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.name{
  margin-left: 6px;
}

:root {
  --swiper-navigation-size: 18px;
}